@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<ListenerComponent1></ListenerComponent1>
<ListenerComponent2></ListenerComponent2>

<SurveyPrompt Title="How is Blazor working for you?" />
